#custom-header .donate img {
  top: 6px;
  left: -5px;
}

#custom-header .search {
  margin-right: 8px;
}

#mw-content-text {
  padding-bottom: 100px;
}

#mw-content-text .section-competition .learn-more-vpns {
  background: #0053a3;
  color: white;
  border: none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0;
}

#mw-content-text .section-competition .learn-more-vpns a {
  color: white;
}